#stinjanMap{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}
#map{
    text-align: center;
}
.container{
    padding-top: 5%;
}
#contact{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}