th{
    text-align: center;
    color: rgba(255, 255, 255, .95);
}
td{
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .95);
}
.table{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#tripImage{
    height: 150px;
    width: 150px;
}
#addTripBtn{
    float: right;
    margin-top: .5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}