<div class="container" style="padding-top: 5%;">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3><b>Log In</b></h3>
			</div>
			<div class="card-body">
				<form #loginform="ngForm" (ngSubmit)="loginUser()">
					<div id="loginMsg">
						<small class="text-danger"><b>{{msg}}</b></small>
					</div>
					<div class="input-group form-group">
						<input type="text" class="form-control" placeholder="username" name="username" [(ngModel)]="user.username"
						required #username="ngModel" [class.is-invalid]="username.invalid && username.touched">
					</div>
					<div class="input-group form-group">
						<input type="password" class="form-control" placeholder="password" name="password" [(ngModel)]="user.password"
						required #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>
					<div class="form-group">
						<input [disabled]="loginform.form.invalid" type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links"><b>
					Don't have an account?</b><a class="linkColor" href="register"><b>Sign Up</b></a>
				</div>
				<div class="d-flex justify-content-center">
					<a class="linkColor" href="#"><b>Forgot your password?</b></a>
				</div>
			</div>
		</div>
	</div>
</div>
