<div class="container">
    <h1><b>About Us</b></h1>
    <p>Pula is the largest city in Istria County, Croatia, and the eighth-largest city in the country, <br>
        situated at the southern tip of the Istrian peninsula, with a population of 57,460 in 2011. <br><br>
        It is known for its multitude of ancient Roman buildings, the most famous of which is the Pula Arena, 
        one of the best preserved Roman amphitheaters. <br><br>
        The city has a long tradition of wine making, fishing, shipbuilding, and tourism. <br>
        It was the administrative centre of Istria from ancient Roman times until superseded by Pazin in 1991..</p>
    <p>Pula's surrounding natural environment, 
        countryside and the turquoise water of the Adriatic have made the city popular summer vacation destination. <br>
        The pearl nearby is Brioni island or Brijuni national park visited by 
        numerous world leaders since it was the summer residence of Josip Broz Tito.
        Roman villas and temples still lie buried among farm fields and along the shoreline of the dozens of 
        surrounding fishing and farming villages. The coastal waters offer beaches, 
        fishing, wreck dives to ancient Roman galleys and World War I warships, cliff diving, 
        and sailing to unspoiled coves and islands large and small. <br><br>
        Pula is the end point of the EuroVelo 9 cycle route that runs from Gdańsk on the Baltic Sea through Poland, 
        the Czech Republic, Austria, Slovenia and Croatia. <br>
        It is possible to track dinosaur footprints on the nearby seashores; 
        certain more important finds have been made at an undisclosed location near Bale.</p>
</div>
